*{
    margin: 0;
    padding: 0;
}
body{
    background:black;
    font-family: 'Times New Roman', Times, serif;
}
#form{
    /* min-height:80vh; */
    min-width:60vw;
    width:65vw;
    margin:2rem auto;
    background:linear-gradient(90deg,#000428,#004e92);
    opacity:1;
    text-align: center;
    padding:1rem;
    border-radius:10px;
}
#output{
    min-width:60vw;
    width:65vw;
    margin:2rem auto;
    background:linear-gradient(90deg,#000428,#004e92);
    opacity:1;
    text-align: center;
    padding:1rem;
    border-radius:10px;
}
#foot{
    min-width:60vw;
    width:100vw;
    padding: 1rem;
    /* margin:2rem auto; */
    background:linear-gradient(90deg,#000428,#004e92);
    opacity:1;
    text-align: center;
    /* padding:1rem; */
    /* border-radius:10px; */
}
h1{
    color:white;
    display:block;
    /* font-size: 1.25rem; */
    padding:1rem;
    margin:0.25rem;
}
label,p{
    color:white;
    /* display:block; */
    font-size: 1.25rem;
    padding-bottom:0.25rem;
    margin:0.25rem;
}
input{
    display:inline-block;
    width:15%;
    background:whitesmoke;
    padding:0.8rem;
    margin:0.25rem;
}
header{
    background:linear-gradient(90deg,#000428,#004e92);
    /* border-radius:15px 15px 15px 15px; */
    color:white;
    text-align:center;
    padding:1rem;
    margin-bottom:1rem;
    position:sticky;
}
button{
    display:block;
    width:20%;
    margin:1rem auto;
    padding:0.85rem;
    color:black;
    background:linear-gradient(90deg,#727a9a,#d8dbe9);
    border:2px solid white;
    font-size:1rem;
    font-weight: bold;
    border-radius: 10px;
}
#labelPad{
    display: inline-block;
    width: 30%;
    padding: 20px;
    text-align: left;
}
.sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
        align-items: center;
}

/* making the website responsive */
@media (max-width: 720px) {
    .sub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #labelPad, input{
        width: 45%;
    }
    button{
        width: 30%;
    }
  }